@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body{
     min-height: 100%;
}

body {
   font-family: 'Schoolbell', cursive;
    color: #363636;
    background:#eceff1;
}


header, footer {
    width: 85vw;
    margin: 0;
    padding: 5vh 5vw;
}

main {
    width: 60vw;
    margin: 0;
    padding: 0 5vw;
}



footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    line-height: 1;
    font-size: calc(2rem + 2vw);
    font-weight: 1000;
    letter-spacing: 0.1rem;
    color: #3F296E;
}

p {
    line-height: 1.5;
    font-size: 1.25rem;
}

@media (min-width:599px){

    p {
        max-width:600px;
    }

}


a {
    color: #000;
    opacity: 0.8;
    text-decoration: none;
    transition: all ease .5s;
}

a:hover {
    color: #000;
    opacity: 1;
    transition: all ease .5s;
}

footer div a {
    display: block;
    background: #E8452A;
    box-shadow: 1px 3px 3px #b0bec5;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    line-height: 1rem;
}

footer div#next a{
    padding-right:2rem;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg>');
    background-repeat:no-repeat;
    background-position: 96% center;
}

footer div#back a{
    padding-left:2rem;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/></svg>');
    background-repeat:no-repeat;
    background-position: 12% center;
}

footer div#print a{
    padding-left:3rem;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"/></svg>');
    background-repeat:no-repeat;
    background-position: 10% center;
}

footer div#controles {
    display: block;
    background: #907BB6;
    box-shadow: 1px 3px 3px #b0bec5;
    padding: 0.25rem 0.75rem;
    border-radius: 3rem;

}

footer div#controles input[type="color"] {
    border: none;
    background: #eceff1;
    padding: 3px 5px;
    width: 2rem;
}

footer div#controles input[type="range"] {
    width: 4rem;
    margin: 0 0.5rem;

}

footer div a#borra {
    padding-left:3rem;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" viewBox="0 0 16 16"><path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/></svg>');
    background-repeat:no-repeat;
    background-position: 20% center;
}
.chiqui{
  max-width:400px;
  width: 20rem;
  margin: 0 3rem;
  border-radius: 2rem;
  height:auto;
  position:absolute;
  box-shadow: 1px 3px 3px #b0bec5;
  top:1;
  right:1; 
}
.monis{
  max-width:400px;
  width: 24rem;
  margin: 1.5rem 3rem;
  border-radius:  2,2rem;
  height:auto;
  position:absolute;
  box-shadow: 1px 3px 3px #b0bec5;
  top:0;
  right:0;
  } 